@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

$desktop-app-width: 70%;
$mobile-app-width: 90%;

.app {
  width: 100%;
  min-height: 100vh;
  background-color: $app-background-color;
  padding-top: 2rem;
}

.app-container {
  min-height: 100vh;
  margin: auto;
  width: $desktop-app-width;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .app-container {
    width: $mobile-app-width;
  }
}
