.expense-chart {
  width: 100%;
  background-color: gray;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;

  .bar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .bar {
      border: 1px solid $dark;
      border-radius: 8px;
      background-color: $primary-color;
      width: 18px;
      height: 130px;

      .spent {
        background-color: $secondary-color;
      }
      .unspent {
      }
    }
    .bar-label {
      color: $dark;
      font-size: 12px;
      font-weight: 600;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    padding: 1rem 1rem;
    .bar-container {
      .bar {
        border: 1px solid $dark;
        border-radius: 8px;
        background-color: $primary-color;
        width: 10px;
        height: 95px;
      }
      .bar-label {
        font-size: 9px;
        font-weight: bolder;
      }
    }
  }
}
