.dropdown-control {
  color: #2b3a42;
  .indicator-wrapper {
    div {
      padding: 0 !important;
    }
  }
}

.dropdown-control:hover {
  cursor: pointer;
}

.dropdown-control + .dropdown-menu {
  width: auto;
  min-width: 100%;
  border: none;
  border-radius: 4px;
  color: #2b3a42;
}
