.title-card {
  background-color: #0468bf;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 2px 0 #22216e;
  .title {
    font-size: 2em;
  }
}
