/*Color Combo -1 */
// $primary-color: #0468bf;
// $secondary-color: #022859;

// $primary-color-box-shadow: #22216e;
// $secondary-color-hover: #02285998;

/*Color Combo - 2 */
$app-background-color: #383638de;
$app-body-bg-color: #1e1d1e;

$primary-color: #ffd492;
$secondary-color: #faa37f;

$primary-color-box-shadow: #ffd492;
$secondary-color-hover: #faa47fab;

$dark: #161d32;
