//variables
@import 'variables/colors.scss';

//base styles
@import 'base/base';

//components
@import 'components/titleCard', 'components/customButton', 'components/appBody',
  'components/filterHeader', 'components/singleSelect',
  'components/expenseChart', 'components/expenseCard', 'components/calendarCard',
  'components/amount';
